{% extends 'base.html' %}

{% block header %}
<div class="container">
  <div class="bg-light p-3 p-sm-5 my-4 rounded">
    <h1 class="display-4">VSC</h1>
    <hr class="my-4">
    <p>Vtuber のライブ配信結果を記録するサイトです！</p>
  </div>
  <img src="https://yt3.ggpht.com/ytc/AKedOLSmHTeNNQp8A4AwsUPKzBa2ubDBWe6RSaG39mAYTw=s176-c-k-c0x00ffffff-no-rj" width="80" height="80">
  <a href="https://www.youtube.com/channel/UC1DCedRgGHBdm81E1llLhOQ" style="font-size: 30pt;">Pekora Ch. 兎田ぺこら</a>
  <hr class="my-4">
</div>
{% endblock header %}

{% block content %}
  <div class='container'>
    <div class="card">
      <h5 class="card-header">{{ object.videoTitle }}</h5>
      <div class="card-body">
        <div class="card">
          <h7 class="card-header">サムネイル</h7>
          <div class="card-body">
            <img src="{{ object.s3ThumbnailUrl }}">
          </div>
        </div>
        <div class="card">
          <h7 class="card-header">配信同時接続者数グラフ</h7>
          <div class="card-body">
            <a href="{{ object.s3GraphUrl }}"><img src="{{ object.s3GraphUrl }}" width="320" height="180"></a>
          </div>
        </div>
        <div class="card">
          <h7 class="card-header">配信URL</h7>
          <div class="card-body">
            <a href="{{ object.videoUrl }}">{{ object.videoUrl }}</a>
          </div>
        </div>
        <div class="card">
          <h7 class="card-header">配信開始時間</h7>
          <div class="card-body">
            {{ object.startTime }}
          </div>
        </div>
        <div class="card">
          <h7 class="card-header">配信終了時間</h7>
          <div class="card-body">
            {{ object.endTime }}
          </div>
        </div>
        <div class="card">
          <h7 class="card-header">最高同時接続者数</h7>
          <div class="card-body">
            {{ object.maxViewers }}
          </div>
        </div>
        <div class="card">
          <h7 class="card-header">配信終了時高評価数</h7>
          <div class="card-body">
            {{ object.likeCount }}
          </div>
        </div>
        <a href="/tomeru/list/" class="btn btn-primary">一覧へ</a>
    </div>
  </div>
{% endblock content %}
